body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: black
}

div {
    padding: .5em
}

label {
    padding: 0.5em
}


.container1 {
    justify-content: center;
    align-self: center;
    margin-left: 400px;
    margin-top: 100px;
    width: 75%;
    float: left;
    padding-right: 40%;
   
}

/* Full-width input fields */

input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
}

input[type=number]:focus {
    background-color: #ddd;
    outline: none;
    -webkit-appearance: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-top: 25px;
    

}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
   
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}



/* Float cancel and submit buttons and add an equal width */

.cancelbtn,
.submitbtn {
    padding: 10px;
    width: 50%;
}


/* Add padding to container elements */

.container {
    padding: 10px;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    width: 50;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .submitbtn {
        width: 100%;
    }
}